
<!doctype html>
<html>
<body>
                 <div class="images">&times;
<img src="http://localhost:5000/lbd/Test/local/datasets/993037dc-c8e9-4273-8aca-8f5f5d3c6282/" alt="" width="300" height="200">
  <img src="https://www.w3schools.com/howto/img_fjords.jpg" alt="" width="300" height="200">
  <img src="https://www.w3schools.com/howto/img_fjords.jpg" alt="" width="300" height="200">
</div>

<div id="image-viewer">
  <span class="close">&times;</span>
  <img class="modal-content" id="full-image">
</div>
</body>
</html>
  
}
